html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    height: 100%;
}
.container {
    display: flex;
    justify-content: center;
}
.center {
    width: 800px;
}
.buttonpadding
{
    margin: 20px 20px 20px 20px;
}

.floating-panel {
    position: absolute;
    bottom: 10px;
    left: 25%;
    background-color: aliceblue;
    z-index: 5;
    text-align: center;
    font-family: 'Roboto','sans-serif';
}

